// Mixins in here
.signin-buttons(@btn-bg: @btn-green, @btn-color: @white){
    background-color: @btn-bg;
    color: @btn-color;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    font-size: 3rem;
}