// Navigation Styles here
nav {
  width: 100rem;
  border-bottom: 2px dashed @navigation-border;
  padding-bottom: 1rem;
  margin: auto;

  h1 {
    margin: 1rem 0;
  }
  .nav-items {
    margin: auto;
    max-width: 80rem;
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;

    align-content: baseline;
    width: 39.5%;

    a {
      text-decoration: none;
      font-size: 1.6rem;
      padding: 2rem 2.95rem 2rem 0;
    }
  }
}
